.dashboard-container {
  padding: 20px;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: #111;
  padding: 20px;
  border-radius: 14px;
  width: 200px;
  text-align: center;
  border: 1px solid #1f1f1f;
}

.card p {
  margin-top: 10px;
  font-size: 22px;
  color: #00aaff;
}
