.settings-container {
  padding: 20px;
}

.setting-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.setting-box select {
  background: #111;
  color: white;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #222;
}

.save-btn {
  padding: 12px 20px;
  background: #00aaff;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
